#aboutPageSectionOne {
  background-color: black;
  width: 100%;
}
.myVid {
    height: 600px;
  width: 100%;
  margin: auto !important   ;
}

#aboutPageSectionTwo {
  margin: 200px 0;
  position: relative;
}
#aboutPageSectionTwo .grey {
  background-color: #ddd;
  padding: 50px;
  padding-bottom: 100px;
  width: 70%;
  border-top-right-radius: 100px;
}
#aboutPageSectionTwo .purple {
  position: absolute;
  background: #130227;
  border-top-right-radius: 100px;
  height: 430px;
  width: 300px;
  bottom: 100px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutPageSectionTwo .purple img {
  left: 50px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .myVid {
    width: 100%;
    height: 100%;
  }
  #aboutPageSectionTwo {
    margin: 0px 0;
  }
  #aboutPageSectionTwo .grey {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    padding-bottom: 10px;
    border-top-right-radius: unset;
    text-align: center;
  }
  #aboutPageSectionTwo .purple {
    position: relative;
    border-top-right-radius: 40px;
    height: 215px;
    width: 150px;
    bottom: unset;
    margin: 20px auto;
  }

  #aboutPageSectionTwo .col-md-5 {
    order: 2;
  }
  #aboutPageSectionTwo .purple img {
    left: 25px;
  }
}
