#fixtureDetailsSectionOne {
  width: 100%;
  max-height: 100vh;
}
#fixtureDetailsSectionOne img {
  width: 100%;
}
#fixtureDetailsSectionTwo {
  padding: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}
#fixtureDetailsSectionTwo .tab-content > .tab-pane {
  border: solid 1px grey;
  border-top: none;
  border-color: #082a52;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
}
#fixtureDetailsSectionTwo .nav-tabs {
  border-bottom: 1px solid #082a52;
}
#fixtureDetailsSectionTwo .details {
  min-height: 40px;
  width: 100%;
  background: #c4c4c420;
  /* opacity: 0.2; */
  border-radius: 10px;
  padding: 50px;
  margin: 20px 0;
}
#fixtureDetailsSectionTwo .details h1 {
  font-family: Mulish;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
#fixtureDetailsSectionTwo .details span {
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
#fixtureDetailsSectionTwo .participants {
  padding: 30px 70px;
}
#fixtureDetailsSectionTwo .participants .image {
  /* padding: 30px 70px; */
  height: 100%;
  width: 100%;
}
#fixtureDetailsSectionTwo .participants .image img {
  /* padding: 30px 70px; */
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 900px) {
  #fixtureDetailsSectionOne {
    height: 200px;
  }
  #fixtureDetailsSectionTwo {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0;
  }
  #fixtureDetailsSectionTwo .tab-content > .tab-pane {
    padding: 10px !important;
  }
  #fixtureDetailsSectionTwo .details {
    padding: 10px;
  }
  #fixtureDetailsSectionTwo .details p {
    text-align: justify;
  }
  #fixtureDetailsSectionTwo .participants {
    padding: 0px;
  }
  #fixtureDetailsSectionTwo .participants .image {
    height: 100px;
  }
  #fixtureDetailsSectionTwo .nav-link {
    padding: 0.5rem;
    font-size: 12px;
  }
  #fixtureDetailsSectionTwo .details h1 {
    font-size: 18px;
    line-height: 25px;
  }
  #fixtureDetailsSectionTwo .details span {
    font-size: 13px;
    line-height: 20px;
  }
}
.mr-20 {
  margin-right: 20px;
}
#fixtureDetailsSectionTwo .tab-content > .tab-pane {
  border: solid 1px grey;
  border-top: none;
  border-color: #082a52;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
}
#fixtureDetailsSectionTwo a {
  color: #000;
}
