@keyframes loadingBlock {
  0% {
    background-color: rgba(0, 0, 0, 0.247);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.075);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.288);
  }
}
#homePageSectionOneText {
  /* text-align: center; */
  padding: 150px;
}
#homepageSectionOne {
  /* height: 100vh; */
  overflow: hidden;
}
#homePageSectionOneText h1 {
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  margin-bottom: 30px;
}
#homePageSectionOneText p {
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justify;
}
.orangebg {
  background: #fcd0a1;
}
#homepageSectionTwo {
  padding: 100px 150px;
}

#homepageSectionTwo img {
  height: 100%;
}
#homepageSectionThree {
  padding: 100px 150px;
  display: none;
}
#homepageSectionFour {
  padding: 100px 150px;
}

#homepageSectionOne .carousel-indicators [data-bs-target] {
  height: 9px;
  width: 9px;
  border-radius: 50%;
}
.slide-image {
  /* height: calc(100vh - 70px); */
  height: 100%;
}
.h-120 {
  min-height: 50px;
  height: 120px;
  /* max-height: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-250 {
  min-height: 50px;
  height: 250px;
  /* max-height: 250px; */
}
.h-228 {
  min-height: 50px;
  height: 228px;
  /* max-height: 250px; */
}
.h-315 {
  min-height: 50px;
  height: 315px;
  /* max-height: 315px; */
}
.h-332 {
  min-height: 50px;
  height: 332px;
  /* max-height: 315px; */
}
.h-400 {
  min-height: 50px;
  height: 400px;
  /* max-height: 315px; */
}

.bg-bluejik {
  background: #130227;
}
.player-item p {
  margin: 5px 0;
}
.player-box {
  height: 265px;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.068); */
  animation: loadingBlock 1s infinite linear;
}
.player-box {
  position: relative;
}
.player-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

@media screen and (max-width: 960px) {
  #homePageSectionOneText {
    padding: 20px;
    margin-top: 10px;
  }
  #homePageSectionOneText h1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  #homePageSectionOneText p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
  }
  #homepageSectionOne {
    height: auto;
  }
  .slide-image {
    height: 100%;
  }
  #homepageSectionTwo {
    padding: 20px 0;
    /* min-height: 200px; */
  }
  #homepageSectionTwo img {
    max-width: unset;
    height: 100%;
  }
  #homepageSectionThree {
    padding: 20px 0;
    /* min-height: 200px; */
  }
  #homepageSectionFour {
    padding: 20px 0;
    /* min-height: 200px; */
  }
  .mb-50 {
    margin-bottom: 10px;
  }
  .m-0 {
    margin: 0px;
  }
  .mb-20 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .player-box {
    height: 100px;
    overflow: hidden;
  }
  .h-332 {
    min-height: 50px;
    height: 152px;
    /* max-height: 315px; */
  }
  .h-228 {
    min-height: 50px;
    height: auto;
    /* max-height: 250px; */
  }
  .h-250 {
    min-height: 50px;
    height: auto;
    /* max-height: 250px; */
  }
  .h-315 {
    min-height: 50px;
    height: 100px;
    /* max-height: 315px; */
  }
  .h-332 {
    min-height: 50px;
    height: auto;
    /* max-height: 315px; */
  }
  .player-item p {
    margin: 0;
    font-size: 13px;
  }
}
#homepageSectionFive {
  background-color: #130227;
  padding: 50px 0;
  color: white;
  display: none;
}
#homepageSectionFive .kit-container {
  text-align: center;
}
#homepageSectionFive .kit-image {
  height: 350px;
  margin-bottom: 20px;
}
#homepageSectionFive .kit-image-img {
  height: 100%;
}
#homepageSectionFive .carousel-control-prev {
  justify-content: flex-start;
}
#homepageSectionFive .carousel-control-next {
  justify-content: flex-end;
}
/* #homepageSectionFive .carousel-control-next-icon {
  background-image: url("../../../../assets/img/nextArrow.png");
}
#homepageSectionFive .carousel-control-prev-icon {
  background-image: url("../../../../assets/img/prevArrow.png");
} */
#homepageSectionFive .slide-item {
  height: 500px;
  /* background-color: #ddd; */
  /* padding: 0 150px; */
}
@media screen and (max-width: 1200px) {
  #homepageSectionFive .slide-item {
    height: 500px;
    /* background-color: #ddd; */
    padding: 20px 10px;
  }
}
@media screen and (max-width: 960px) {
  #homepageSectionFive {
    background-color: #130227;
    padding: 30px 0;
  }
  #homepageSectionFive .slide-item {
    height: 250px;
  }
  .hide-900 {
    display: none;
  }
  #homepageSectionFive .kit-image {
    height: 130px;
  }
  #homepageSectionFive .kit-image-img {
    height: 100%;
  }
}
#homepageSectionSix {
  padding: 50px 300px;
}
#homepageSectionSix .player {
  position: relative;
}
#homepageSectionSix .player .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
#homepageSectionSeven {
  /* margin-bottom: 150px; */
  padding: 50px 0;
}
#homepageSectionSeven .row {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#homepageSectionSeven .row .col-6 {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#homepageSectionSeven img {
  max-width: 100px;
}
.loading {
  animation: loadingBlock 1s infinite linear;
}
@media screen and (max-width: 960px) {
  #homepage h2 {
    font-weight: 600;
    font-size: 20px;
  }
  #homepageSectionSix {
    padding: 20px 0;
  }
  .h-400 {
    min-height: 50px;
    height: auto !important;

    /* max-height: 315px; */
  }
  #homepageSectionSeven {
    margin-bottom: 20px;
  }
}
.modal-dialog {
  top: 50%;
  transform: translateY(-50%) !important;
  height: 80%;
}
.modal-content {
  transform: scale(1.3);
}
@media (min-width: 576px) {
  .modal-dialog {
    /* max-width: 100% !important; */
    margin: 1.75rem auto;
    /* top: 50%; */
    /* transform: translateY(-50%) !important; */
  }
}
.sponsor-icon {
  /* height: 50px; */
  width: 70px;
}
@media screen and (max-width: 900px) {
  .sponsor-icon {
    /* height: 50%; */
    width: 50px;
  }
}
.hide {
  display: none;
}
