body {
  margin: 0;
  font-family: "Mulish", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
}
.mt-20 {
  margin-top: 20px;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
