#footerSection {
  background-color: #130227;
  color: white;
}
#footerSection .contact {
  border-bottom: 1px solid rgba(255, 255, 255, 0.205);
  padding: 100px 0;
}
#footerSection h5 {
  font-size: 20px;
  font-weight: 400;
}
#footerSection .contact h5 {
  position: relative;
}
#footerSection .contact h5::after {
  content: "";
  height: 3px;
  width: 50px;
  background: #ffa700;
  display: inline-block;
  /* transform: translateY(100%); */
  position: absolute;
  left: 0;
  bottom: -5px;
  /* margin-top: 10px; */
}
#footerSection .copyright {
  padding: 50px 0;
  align-items: center;
  display: flex;
}
#footerSection .copyright span {
  margin-left: 100px;
}
#footerSection .footer-icon {
  margin: 0 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.footer-p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 10px;
}
.first-row {
  align-items: center;
}
@media screen and (max-width: 900px) {
  #footerSection .copyright {
    padding: 10px 0;
  }
  #footerSection .copyright span {
    margin-left: 0px;
  }
  #footerSection h5 {
    font-size: 17px;
  }
  .footer-p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 100;
    margin-top: 10px;
  }
  #footerSection .contact {
    padding: 10px 0;
  }
  .mb-20 {
    margin-bottom: 10px;
  }
}
